<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socical Information</title>
</head>
<body>
<center>
    <br><br><br><br><br><br><br><br><br>
    <h1>TFIDF-SIM-SJet</h1>
    <form id="form1" action="/tfidf" method="get" >
        <input type="submit" value="TF-IDF" style="font-size: larger">
    </form>
    <br>
    <form id="form2" action="/sim" method="get" >
        <input type="submit" value="SIM" style="font-size: larger">
    </form>
    <br>
    <form id="form3" action="/search" method="get" >
        <input type="submit" value="Search" style="font-size: larger">
    </form>
</center>
</body>
</html>