<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SJet</title>
</head>
<body>
<center>
    <br><br><br><br><br><br><br><br><br>
    <h1><font color="blue" size="50">G</font>
        <font color="red" size="50">o</font>
        <font color="yellow" size="50">o</font>
        <font color="green" size="50">o</font>
        <font color="blue" size="50">g</font>
        <font color="green" size="50">l</font>
        <font color="red" size="50">e</font></h1>
        <form id="form1" method="post" enctype="multipart/form-data">
            <input type="text" name="input" id="input">
            <button type="submit" class="btn1" id="answers">Search</button>
        </form>
</center>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script>

</script>
</body>
</html>