<!doctype html>
<title>TFIDF-SIM-SJet</title>
<script language="javascripy" type="text/javascript">
    // $("#jump").click(function () {
    //     window.location.href="{{ url_for('show') }}";
    // })
</script>
<body>
<center>
    <br><br><br><br><br><br><br><br><br>
    <h1>TF-IDF</h1>
    <h3>Upload your file for tf-idf calculating</h3>
    <form id="form1" action="/tfidf/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="myfile">

        <input type="submit" value="upload">
    </form>
    <br>
    <br>
    <h3>Calculate TF-IDF value</h3>
    <form id="form2" action="/tfidf/caltfidf" method="post">
        <input type="submit" value="calculate">
    </form>
    <br>
    <h3>Show results</h3>
    <!--<button class="btn btn-success" id="jump">显示结果</button>-->
    <form id="form3" action="/tfidf/showtfidf" method="post">
        <input type="submit" size="" value="show">
    </form>
    <br>


</center>
</body>
